.margin-top {
  margin-top: 30px;
}

.margin-bottom {
  margin-bottom: 30px;
}

.title {
  a {
    text-decoration: none;
  }
}

.custom-container {
    width: 1300px !important;
    margin: auto;
}

/* .main-container {
  background: url(https://images.unsplash.com/photo-1462556791646-c201b8241a94?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1945&q=80);
  background-size: cover;
} */
