.accept-booking {
  color: white;
  background-color: orange;
  padding: 5px 10px 5px 10px;
  border-radius: 4px;
}

.reject-booking {
  color: white;
  background-color: lightgrey;
  padding: 5px 10px 5px 10px;
  border-radius: 4px;
}
